# Application secret generated with 'openssl rand -hex 32' command.
# Use the same one for both backends
APP_SECRET=secret_here

# Relational database connection string
DATABASE_URL=mariadb+aiomysql://jonan:test@mariadb:3306/users

# Google oauth credentials
GOOGLE_OAUTH_CLIENT_ID=client_here
GOOGLE_OAUTH_CLIENT_SECRET=secret_here